* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Element */
h1 {
  color: #ff0000;
}

/* Id */
#title {
  font-weight: normal;
}

/* Class */
.text {
  font-weight: bold;
}

/* Id and Class */
#title,
.text {
  color: green;
  font-size: 25px;
}

/* Element into Element */
ol li {
  color: pink;
}

.example {
  background-color: #00ff00;
  border: 5px solid #000000;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 20px;
}

.link {
  color: #00ff00;
  font-size: 30px;
}

.link:hover {
  color: #ff0000;
}

.link:visited {
  color: pink;
}
