/* Element */
h1 {
  color: #ff0000;
}

/* Id */
#title {
  font-weight: normal;
}

/* Class */
.text {
  font-weight: bold;
}

/* Id and Class */
#title,
.text {
  color: green;
  font-size: 25px;
}

/* Element into Element */
ol li {
  color: pink;
}

.example {
  border: 1px solid #00ff00;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px 50px;
}

img {
  min-width: 500px;
  width: 100px;
}
