/* Element */
h1 {
  color: red;
}

/* Id */
#title {
  font-weight: normal;
}

/* Class */
.text {
  font-weight: bold;
}

/* Id and Class */
#title,
.text {
  color: green;
  font-size: 25px;
}

/* Element into Element */
ol li {
  color: pink;
}
